body{
    background-image: url("imagens/espaco.jpg");
    size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

img{
    height: 70%;
    position: absolute;          
    left: 30%;
    top: 25%;
    z-index: -1;
}
main{
    position: absolute;
    top: 55%;
    left: 5%;
    padding: 1vh;
    width: 40%;
    border-radius: 0.5em;
    background-color: #05115470;           
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #2ce1db;
}